<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coctelmental.android.project1886"
    android:versionCode="5"
    android:versionName="0.4.8" >

    <!-- C2DM service requires level 8 -->
    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- This app has permission to register and receive message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Only this application can receive the messages and registration result -->
    <permission
        android:name="com.coctelmental.android.project1886.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.coctelmental.android.project1886.permission.C2D_MESSAGE" />

    <application
        android:name=".main.AppData"
        android:theme="@android:style/Theme.NoTitleBar"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".users.Authentication"
            android:label="@string/loginActivity_name"
            android:screenOrientation="portrait" />
        <activity android:name=".users.UserAuthentication" />
        <activity android:name=".users.TaxiDriverAuthentication" />
        <activity android:name=".users.BusDriverAuthentication" />
        <activity
            android:name=".users.Registration"
            android:screenOrientation="portrait" />
        <activity android:name=".users.UserRegistration" />
        <activity android:name=".users.TaxiDriverRegistration" />
        <activity android:name=".users.BusDriverRegistration" />
        <activity
            android:name=".buses.UserBusLineSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".buses.UserBusLocationMap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".buses.CollaboratorLineSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".buses.CollaboratorInformationPanel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taxis.UserTaxiRouteSpecification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taxis.UserTaxiLocationMap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taxis.UserTaxiRequestConfirmation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taxis.UserTaxiWaitingPanel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".buses.BusDriverMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".buses.BusDriverLineSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".buses.BusDriverInformationPanel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taxis.TaxiDriverMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taxis.TaxiDriverInformationPanel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taxis.TaxiDriverRouteView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taxis.TaxiDriverRouteReminder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taxis.TaxiDriverAttendingServiceRequest"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".c2dm.C2DMRegistrationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.coctelmental.android.project1886" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".c2dm.C2DMessageReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.coctelmental.android.project1886" />
            </intent-filter>
        </receiver>

        <service
            android:name=".buses.BusTrackingService"
            android:exported="false" >
        </service>
        <service
            android:name=".taxis.TaxiTrackingService"
            android:exported="false" >
        </service>
        <service
            android:name=".tts.TextToSpeechService"
            android:exported="false" >
        </service>
    </application>

</manifest>